.letter-container {
  text-align: center;
  margin: 50px 0;

  &.loading {
    .letter .letter-part {
      width: 50px !important;
      height: 50px !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}
.letter {
  margin: 0.8%;
  // background: red;
  // width: 200px;
  display: inline-block;
  vertical-align: top;
  width: 16%;

  &.letter-m {
    width: 20%;

    .letter-part {
      width: 20%;
    }
  }

  &.letter-i {
    width: 12%;

    .letter-part {
      width: 33.33%;
    }
  }

  .letter-part {
    width: 25%;
    height: auto;
    // transition: all 300ms ease-in-out;
    position: relative;
    // border-radius: 25%;

    &:hover {
      // width: 300px;
      width: auto;
      position: absolute;
      z-index: 1;
      transform: none;
      border-radius: 0;
    }
  }

  .minus-one-row {
    position: relative;
    left: 12.5%;
  }
}

form {
  color: #fff;
}
select, option, input, textarea {
  color: #000;
}
