<div class="letter-container" ng-class="{'loading': loadingState}">
  <div class="letter letter-i text-center">
    <img ng-src="{{getUncachedImageUrl('i0')}}" alt="" class="letter-part"><br>
    <img ng-src="{{getUncachedImageUrl('i1')}}" alt="" class="letter-part invisible"><br>
    <img ng-src="{{getUncachedImageUrl('i2')}}" alt="" class="letter-part"><br>
    <img ng-src="{{getUncachedImageUrl('i3')}}" alt="" class="letter-part"><br>
    <img ng-src="{{getUncachedImageUrl('i4')}}" alt="" class="letter-part"><br>
    <img ng-src="{{getUncachedImageUrl('i5')}}" alt="" class="letter-part">
  </div>

  <div class="letter letter-m">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('m1')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m2')}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('m3')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m4')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m5')}}" alt="" class="letter-part block pull-right">
      <img ng-src="{{getUncachedImageUrl('m6')}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('m7')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m8')}}" alt="" class="letter-part block pull-left invisible">
      <img ng-src="{{getUncachedImageUrl('m9')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m10')}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('m11')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m12')}}" alt="" class="letter-part block pull-right">
    </div>
      <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('m13')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m14')}}" alt="" class="letter-part block pull-right">
    </div>
      <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('m15')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('m16')}}" alt="" class="letter-part block pull-right">
    </div>
  </div>

  <div class="letter letter-a">
    <div class="text-center">
      <img ng-src="{{getUncachedImageUrl('a0')}}" alt="" class="letter-part">
    </div>
    <div class="overflow-hidden minus-one-row">
      <img ng-src="{{getUncachedImageUrl('a1')}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl('a2')}}" alt="" class="letter-part pull-left invisible">
      <img ng-src="{{getUncachedImageUrl('a3')}}" alt="" class="letter-part pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('a4')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('a5')}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('a6')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('a7')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('a8')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('a9')}}" alt="" class="letter-part block pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('a10')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('a11')}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl('a12')}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl('a13')}}" alt="" class="letter-part block pull-right">
    </div>
  </div>

  <div class="letter letter-g">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(31)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(32)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(32)}}" alt="" class="letter-part block pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(36)}}" alt="" class="letter-part block pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(28)}}" alt="" class="letter-part pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(26)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(30)}}" alt="" class="letter-part pull-right halfway-to-the-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(26)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(27)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(23)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(24)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(25)}}" alt="" class="letter-part pull-left">
    </div>
  </div>

  <div class="letter letter-e">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(38)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(39)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(40)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(41)}}" alt="" class="letter-part pull-left">
    </div>
    <img ng-src="{{getUncachedImageUrl(42)}}" alt="" class="letter-part block">
    <div>
      <img ng-src="{{getUncachedImageUrl(43)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(44)}}" alt="" class="letter-part pull-left halfway-to-the-bottom">
      <img ng-src="{{getUncachedImageUrl(45)}}" alt="" class="letter-part pull-left halfway-to-the-bottom">
      <div class="clear-fix"></div>
    </div>

    <img ng-src="{{getUncachedImageUrl(46)}}" alt="" class="letter-part block">
    <img ng-src="{{getUncachedImageUrl(47)}}" alt="" class="letter-part block">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(48)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(49)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(50)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(51)}}" alt="" class="letter-part pull-left">
    </div>
  </div>
</div>
