<div class="dummy-image-preloader absolute invisible no-z-index">
  <img ng-src="{{imageUrl}}">
</div>

<div ng-include="'views/lorem.html'"></div>

<form action="" name="url-builder">
  <img ng-src="{{imageUrl}}"><br>
  <a ng-href="{{imageUrl}}" target="_blank" ng-bind="imageUrl"></a>
  <br>
  {{imageParams}}
  <br>
  <fieldset>
    width: {{imageParams.width}}px <input type="range" ng-model="imageParams.width" min="50" max="300" step="50">
    <br>
    height: {{imageParams.height}}px <input type="range" ng-model="imageParams.height" min="50" max="300" step="50">
  </fieldset>
  <fieldset>
    <label for="section">
      section:
    </label>
    <select
      ng-model="imageParams.section"
      name="section"
      id="section"
      ng-options="section.label for section in sections"></select>
    </fieldset>
  <fieldset ng-show="imageParams.section.value">
    index: <input type="number" ng-model="imageParams.index" min="0" max="20" step="1" ng-disabled="!imageParams.section.value">
    <br>OR<br>
    dummy text: <input type="text" ng-model="imageParams.text" ng-disabled="!imageParams.section.value || !!imageParams.index">
  </fieldset>
  <fieldset>
  <label for="grayscale">
    black &amp; white:
  </label>
  <input type="checkbox" ng-model="imageParams.grayscale" name="grayscale" id="grayscale">
  </fieldset>
</form>

<div ng-include="'views/image.html'"></div>
