<div class="dummy-image-preloader absolute invisible no-z-index">
  <img ng-src="{{imageUrl}}">
</div>

<div class="letter-container" ng-class="{'loading': loadingState}">
  <div class="letter letter-l">
    <img ng-src="{{getUncachedImageUrl(0)}}" alt="" class="letter-part block">
    <img ng-src="{{getUncachedImageUrl(1)}}" alt="" class="letter-part block">
    <img ng-src="{{getUncachedImageUrl(2)}}" alt="" class="letter-part block">
    <img ng-src="{{getUncachedImageUrl(3)}}" alt="" class="letter-part block">
    <img ng-src="{{getUncachedImageUrl(4)}}" alt="" class="letter-part block">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(5)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(6)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(7)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(8)}}" alt="" class="letter-part pull-left">
    </div>
  </div>

  <div class="letter letter-o">
    <div class="overflow-hidden minus-one-row">
      <img ng-src="{{getUncachedImageUrl(9)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(10)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(11)}}" alt="" class="letter-part pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(12)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(13)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(14)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(15)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(16)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(17)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(18)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(19)}}" alt="" class="letter-part block pull-right">
    </div>

    <div class="overflow-hidden minus-one-row">
      <img ng-src="{{getUncachedImageUrl(20)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(21)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(22)}}" alt="" class="letter-part pull-left">
    </div>
  </div>

  <div class="letter letter-r">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(23)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(24)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(25)}}" alt="" class="letter-part pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(26)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(27)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(28)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(29)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(30)}}" alt="" class="letter-part pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(31)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(32)}}" alt="" class="letter-part block pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(33)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(34)}}" alt="" class="letter-part block pull-left invisible">
      <img ng-src="{{getUncachedImageUrl(35)}}" alt="" class="letter-part block pull-left">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(36)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(37)}}" alt="" class="letter-part block pull-right">
    </div>
  </div>

  <div class="letter letter-e">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(38)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(39)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(40)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(41)}}" alt="" class="letter-part pull-left">
    </div>
    <img ng-src="{{getUncachedImageUrl(42)}}" alt="" class="letter-part block">
    <div>
      <img ng-src="{{getUncachedImageUrl(43)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(44)}}" alt="" class="letter-part pull-left halfway-to-the-bottom">
      <img ng-src="{{getUncachedImageUrl(45)}}" alt="" class="letter-part pull-left halfway-to-the-bottom">
      <div class="clear-fix"></div>
    </div>

    <img ng-src="{{getUncachedImageUrl(46)}}" alt="" class="letter-part block">
    <img ng-src="{{getUncachedImageUrl(47)}}" alt="" class="letter-part block">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(48)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(49)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(50)}}" alt="" class="letter-part pull-left">
      <img ng-src="{{getUncachedImageUrl(51)}}" alt="" class="letter-part pull-left">
    </div>
  </div>

  <div class="letter letter-m">
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(52)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(53)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(54)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(55)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(56)}}" alt="" class="letter-part block pull-right">
      <img ng-src="{{getUncachedImageUrl(57)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(58)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(59)}}" alt="" class="letter-part block pull-left invisible">
      <img ng-src="{{getUncachedImageUrl(60)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(61)}}" alt="" class="letter-part block pull-right">
    </div>
    <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(62)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(63)}}" alt="" class="letter-part block pull-right">
    </div>
      <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(64)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(65)}}" alt="" class="letter-part block pull-right">
    </div>
      <div class="overflow-hidden">
      <img ng-src="{{getUncachedImageUrl(66)}}" alt="" class="letter-part block pull-left">
      <img ng-src="{{getUncachedImageUrl(67)}}" alt="" class="letter-part block pull-right">
    </div>
  </div>
</div>

<form action="" name="url-builder">
  <img ng-src="{{imageUrl}}"><br>
  <a ng-href="{{imageUrl}}" target="_blank" ng-bind="imageUrl"></a>
  <br>
  {{imageParams}}
  <br>
  <fieldset>
    width: {{imageParams.width}}px <input type="range" ng-model="imageParams.width" min="50" max="300" step="50">
    <br>
    height: {{imageParams.height}}px <input type="range" ng-model="imageParams.height" min="50" max="300" step="50">
  </fieldset>
  <fieldset>
    <label for="section">
      section:
    </label>
    <select
      ng-model="imageParams.section"
      name="section"
      id="section"
      ng-options="section.label for section in sections"></select>
    </fieldset>
  <fieldset ng-show="imageParams.section.value">
    index: <input type="number" ng-model="imageParams.index" min="0" max="20" step="1" ng-disabled="!imageParams.section.value">
    <br>OR<br>
    dummy text: <input type="text" ng-model="imageParams.text" ng-disabled="!imageParams.section.value || !!imageParams.index">
  </fieldset>
  <fieldset>
  <label for="grayscale">
    black &amp; white:
  </label>
  <input type="checkbox" ng-model="imageParams.grayscale" name="grayscale" id="grayscale">
  </fieldset>
</form>
